<div id="opaco" class="layer-overlay"></div>
<div id="popup" class="set-password bento">
  <div id="account-page-header" class="header clearfix" style="">
    <!--<a class="close" data-dismiss="modal">&times;</a>-->
    <h2><%= I18n.t("common.set_password") %></h2>
  </div>
  <div id="account-content" class="content clearfix">
    <%= render 'layouts/messages' %>
    <div><%= I18n.t("common.please_set_your_password") %></div>
    <div>
      <%= simple_form_for :password, :url => "employees/set_password" do |f| %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.submit I18n.t('common.save_changes'), :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#opaco").show();
        $('#popup').alignCenter();
        $("#popup").fadeIn(300);
    });
//    $('#password_modal').modal('hide');
</script>