<div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= I18n.t("common.set_password") %></h3>
  </div>
  <div class="modal-body">
    <%= render 'layouts/messages' %>
    <p><%= I18n.t("common.please_set_your_password") %></p>
    <div>
      <%= simple_form_for :password, :url => "employees/set_password" do |f| %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.submit I18n.t('common.save_changes'), :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#test_modal').modal('show');
    });
    $('#test_modal').modal('hide');
</script>