<div class="bento">
  <div class="row">
    <div id="account-page-header" class="header clearfix" style="">
      <h2><%= I18n.t("common.please_signin") %></h2>
    </div>

    <div id="account-content" class="content clearfix">
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
          <div class="form-row"><%= f.input :email, :autofocus => true %></div>
          <div class="form-row"> <%= f.input :password %></div>
          <!--<div class="form-row"><%#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %></div>-->
          <div class="form-row submit"><%= f.button :submit, I18n.t("common.ready"), :class => 'btn-primary' %></div>
          <div class="form-row" style="float:left;display: inline "><%= render "devise/shared/links" %></div>
    <% end %>

    </div>


    <% if user_signed_in? && current_user.sign_in_count == 1 %>
        <%= render 'devise/registrations/set_password' %>
    <% end %>
  </div>
</div>


