<div id="opaco" class="layer-overlay"></div>

<div id="popup" class="set-password bento">
  <div id="account-page-header" class="header clearfix" style="">
  <h2><%= I18n.t("listings.contact_form.title") %></h2>
    <a class="close" data-dismiss="modal">&times;</a>
  </div>


  <div id="account-content" class="content clearfix">
    <%#= render 'layouts/messages' %>
    <div><%= I18n.t("listings.contact_form.tip1") %></div>
    <div>
      <%= simple_form_for :contact_message, :url => "employees/send_message" do |f| %>
          <%= f.input :contact_id, :as => :hidden  %>
          <%= f.input :read, :value => true, :as => :hidden  %>
          <%= f.input :from_email, :as => :email %>
          <%= f.input :body, :as => :text, :input_html => { :cols => 50, :rows => 5 } %>
          <%= f.submit I18n.t('listings.contact_form.send'), :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
//        $("#opaco").show();
//        $('#popup').alignCenter();
//        $("#popup").fadeIn(300);
    });
    //    $('#password_modal').modal('hide');
</script>
