<h3 class="title1"><%= I18n.t("text.all_listings") %></h3>
<% unless @listings.nil? %>
    <table class="table table-striped">
      <tbody>
      <% @listings.each do |l| %>
          <tr>
            <td>Я <b><%= l.current_occupation %></b>, и я получаю <b><%= l.current_salary %> <span><%#= currency l, :current%></span></b>.Город
              <b><%= l.city %></b><br>
              <span>Я заинтересован ТОЛЬКО в вакансии <b><%= l.future_occupation %></b> с зарплатой как минимум <b><%= l.future_salary %> <%#=currency l, :future %> </b> . </span>
              <span class="label label-warning"><%#= worktype l %></span>
            </td>
            <td class="contact">
              <div class="contact-link">
                <%#= link_to contact_form_listings_path(:id => l.id),
                            :class => :"btn btn-primary",
                            :rel => "facebox", :remote => true do %>
                    <!--<i class="icon-user icon-white"></i>-->
                    <!--‌cвязаться-->
                <%# end %>
              </div>
            </td>
            <td class="datein">
              <div class="date"><%= time_ago l.created_at %></div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>