<!DOCTYPE html>
<html>
    <head>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>
            <%= content_for?(:title) ? yield(:title) : "Jobless" %>
          </title>
      <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon" />
          <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Jobless" %>">
          <%= stylesheet_link_tag "application", :media => "all" %>
          <%#= stylesheet_link_tag "customs", :media => "all" %>
          <%#= stylesheet_link_tag "bento", :media => "all" %>
          <%= javascript_include_tag "application" %>
          <meta name='yandex-verification' content='41488836b73dbabc'/>
          <%= csrf_meta_tags %>
          <%= yield(:head) %>
    </head>
    <body class="<%= controller_name %> <%= action_name %>">
    <%= password_prompt %>
        <div id="page">
          <%#= render :partial => "shared/flash_mesages", :locals => {:flash => flash} %>

          <div class="store-header clearfix">
            <%= render 'layouts/navigation' %>
          </div>

          <div id="" role="main" class="box">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>

          <%= render 'layouts/basement' %>

        </div>
    </body>
</html>
